__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
workspace/
rag_docstore/
.git/
.gitignore
.dockerignore
.DS_Store

# Tuyệt đối không copy các file chứa Secrets vào Image
.env
credentials.json
token.json
